div.vidContainer{
    font-size:72;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    padding:2%;
    /* width:730px; */
    height:65%;
    color:black;
}

div#data
{
    margin-left:auto;
    margin-right:auto;
    padding:2%;
    width:10em;
    border-color:grey;
    border-width:2px;
    border-style:solid;
    color:blue;
}

h1{
    font-variant:small-caps;
    font-size:180%;
}



div#trialForm{
    font-size:150%;
    margin-left:10%;
    margin-right:20%;
    padding-left:3%;
    padding-right:3%;
    text-align:center;
    width:75%;
    border-style:solid;
    border-color:black;
    border-width:1px;
    font-family:Georgia,Serif;
}

div#trialForm ul{
    height:50px;
    /* border-style:solid; */
    /* border-color:black; */
    /* border-width:2px; */
}

ul li{
    font-size:70%;
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    background-color:#CCC;
    padding-left:50px;
    padding-right:50px;
    padding-top:20px;
    padding-bottom:20px;
}

ul li:hover{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    background-color:#999;
    border-style:solid;
    border-width:2px;
    border-color:#CCC;
    padding-left:48px;
    padding-right:48px;
    padding-top:22px;
    padding-bottom:22px;
}

td{
    text-align:right;
    width: 100%;
}

select{
    width:100%;
    text-align:center;
}

table{
    margin-left:25%;
    margin-right:25%;
}


input{
    background-color:#DDD;
}
